
/* NAVBAR */
.navbar-transparent {
    background-color: transparent !important;
    border-bottom: 1px solid #404040;
  }

.navbar-brand img {
    max-width: 80px; /* Adjust the size as needed */
    height: auto;
    display: inline-block;
}

.nav-link{
    border: 1px solid #404040;
}



.image-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.image-container:hover img {
    transform: scale(1.1);
}


/* SPACER */
.spacer{
    height: 100px;
}